[Unit]
Description=Neighborless Route Detection
PartOf=network-online.target
After=network.target ethcfg.service
Requires=network.target ethcfg.service

[Service]
EnvironmentFile=/etc/sysconfig/nrd
Type=notify
ExecStart=/sbin/nrd -force -noclean -iface ${INTERFACE} -log ${LOGLEVEL} -notify ${EXTRA_OPTS}
Restart=always

[Install]
WantedBy=network-online.target
